* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Bold";
    src: url(../Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Regular";
    src: url(../Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "SamiBold";
    src: url(../Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Medium";
    src: url(../../Poppins/Poppins-Medium.ttf);
}



footer {    
    .container {
        padding: 165px 145px 26px;

        .footer_boxs {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .footer_box {
                h6 {
                    color: #FFF;
                    font-family: "Medium";
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    max-width: 280px;
                    margin-bottom: 8px;
                }

                p {
                    color: #FFF;
                    font-family: "Regular";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 35px;
                }

                .footer_icon {
                    margin-top: 24px;
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    font-size: 30px;

                    a {
                        color: #FFF;
                    }
                }

                .footer_inp {
                    display: flex;
                    flex-direction: column;

                    input {
                        border-radius: 4px;
                        border: 1px solid #BCD0E5;
                        background: #FFF;
                        padding: 10px 15px;

                        ::placeholder {
                            color: #FFF;
                        }
                    }

                    button {
                        margin-top: 21px;
                        border-radius: 4px;
                        background: #02897A;
                        width: 131px;
                        padding: 8px 15px;
                        border: none;
                        color: #FFF;
                        font-family: "Bold";
                        font-size: 16px;
                        font-weight: 700;
                        line-height: normal;
                        cursor: pointer;
                    }
                }
            }
        }

        .footer_botton {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            p {
                color: #FFF;
                font-family: "Regular";
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                max-width: 394px;
                text-align: center;
            }
        }
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    footer {
        .container {
            .footer_boxs {
                display: flex;
                flex-wrap: wrap;
                gap: 50px;
                
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 989px) {
    footer {
        .container {
            padding: 120px 90px 25px;
            .footer_boxs {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                gap: 50px;
                
            }
        }
    }
}

@media (min-width: 448px) and (max-width: 769px) {
    footer {
        .container {
            padding: 120px 50px 25px;
            .footer_boxs {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                gap: 50px;
                
            }
        }
    }
}

@media (max-width: 447px) {
    footer {
        .container {
            padding: 120px 50px 25px;
            .footer_boxs {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-wrap: wrap;
                gap: 50px;
                .footer_inp {
                    display: flex;
                    align-items: center;
                    justify-content: center;    
                    flex-direction: column;
                }
                .footer_box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    h6 {
                        text-align: center;
                    }
                }
            }

            .footer_botton {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}